/****************************************/
/********** XHTMLOA style V1.0 **********/
/****************************************/

@import url(login.css);
@import url(other.css);

/********** common style **********/
html{height:100%;}
body{margin:0px; font-size:9pt; height:100%;SCROLLBAR-BASE-COLOR: #E5EFFF;}
table{font-size:9pt;}
th{font-weight:normal;text-align:left;}
ul{ padding:0px; margin:0px;}
li{ padding:0px; margin:0px; list-style-type:none;}
input{font-size:9pt;}
select{font-size:9pt;}
.txt_calendar{behavior:url(../scripts/calendar.htc);font-size:9pt;}
#master{height:100%}

#header{background-image:url(../images/master_header.png);height:90px;width:100%; padding:1px;}
#header h1{display:none;}

#header .userinfo{width:180px;background:url(../images/master_userinfo.gif) no-repeat;margin-top:65px;margin-left:9px;font-weight:bold;padding-left:24px;padding-top:5px;padding-bottom:4px}
#header .userinfo a:link,.userinfo li a:visited{color:#333;text-decoration:none;}

#header .sys_time{ position:absolute; top:70px; right:20px; color:#146299; font-weight:bold }


#header .button{ position:absolute;top:20px;right:20px;}
#header .button li{float:left;padding-left:10px;cursor:pointer}

#header .navigation{ position:absolute;top:65px;left:200px;}
#header .navigation li{height:24px;float:left;text-align:center;margin-right:2px;font-weight:bold;background:url(../images/master_navigationli.gif) no-repeat;padding-left:2px}
#header .navigation li a:link,#header .navigation li a:visited{color:#333; text-decoration:none;background:url(../images/master_navigationli2.gif) no-repeat top right    ;padding-right:9px;padding-left:8px;padding-bottom:10px;line-height:24px;padding-top:6px;}
#header .navigation li a:active{color:#fff;text-decoration:none;background-position:right -25px;}
#header .navigation li a.active{color:#fff;text-decoration:none;background-position:right -25px;}
#header .navigation li a:hover{color:#fff;text-decoration:none;background-position:right -50px;}

.placard{border:1px solid #D9E9FF; background:url(../images/master_placard.gif) repeat-x;height:18px;padding-top:5px;}
.placard li{float:left;padding-right:10px;}
.placard li a:link,#master_body .placard li a:visited{color:#333; text-decoration:underline}
.placard li a:hover{color:red;text-decoration:none;}

#footer{}

#master #submenucontent{background:url(../images/master_content.gif) repeat-y 1px 0px; padding-left:1px; height:100%;}
.submenu{width:200px;height:100%;background:url(../images/master_submenu.gif) no-repeat bottom;}
.submenu h2{background-image:url(../images/submenu_h2.gif);font-size:9pt;font-weight:bold;width:176px;margin:0px;margin-left:12px;padding-top:5px;padding-bottom:5px;cursor:pointer;}
.submenu h2 img{margin:0px 3px -3px 3px;}
.submenu h3{}
.submenu .navigation{margin-left:15px;width:172px;padding-bottom:10px;}
.submenu .navigation li{}
.submenu .navigation a:link,.submenu .navigation a:visited{}
.submenu .navigation a:hover{}
.submenu .navigation a.current:link,.Navigation a.current:visited{}

/*list.htm  ;  list_heightsearch.htm css*/
#master #mainareacontent{padding:5px 5px 5px 0px;}

.search{border:1px solid #A8CFEB; background-color:#F1F6FF;margin-bottom:10px;padding-left:20px;}
.search th{width:90px;text-align:left; white-space:nowrap;}
.search td{padding-right:10px;}
.search td img{padding-left:3px;border:0px;margin-bottom:-2px;cursor:pointer}
.search td input{font-size:9pt;border:1px solid #7F9DB9}
.search td.radiotd input{font-size:9pt;width:20px;}
.search td select{width:129px;font-size:9pt;}
.search img#img_1{position:absolute;left:3px;top:8px;cursor:pointer;}
.search img#img_2{position:absolute;left:218px;top:10px;cursor:pointer;}
.search td.button{width:auto;text-align:right;vertical-align:top;padding-right:14px;}
.search td.button img{margin-top:1px;cursor:pointer;margin-left:5px;}

.dataarea table.title{line-height:24px;background-image:url(../images/master_fieldsetlegend.gif);}
.dataarea table.title th{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;background-image:url(../images/dataarea_title_th.gif);padding-left:15px;background-repeat:no-repeat;background-position:left bottom;}
.dataarea table.title th span{background-color:#fff;padding-right:5px;}
.dataarea table.title td{text-align:right;background-image:url(../images/dataarea_title_td.gif);padding-right:15px;background-repeat:no-repeat;background-position:right bottom;}
.dataarea table.title td.null{background-image:url(../images/dataarea_title_td2.gif);width:1px;}
.dataarea table.title td span{background-color:#fff;}
.dataarea table.title td img{padding-left:5px;border:0px;margin-bottom:-2px;cursor:pointer;}
.dataarea .datagrid{padding:5px;border:1px solid #A8CFEB;padding-top:0px;border-top:none;padding-left:9px;margin-top:-3px}

.dg_borderstyle{ width:100%; border-collapse:collapse;margin-top:3px;}
.dg_borderstyle th{height:24px; background-color:#DFEAFB;color:#1C568A; font-weight:bold;padding-left:2px;}
.dg_alternatingitemstyle{height:22px; background-image:url(../images/dg_alternatingitemstyle.gif);padding-left:2px; background-color:White; text-align:left;}
.dg_itemstyle{height:22px; background-image:url(../images/dg_itemstyle.gif);padding-left:2px;text-align:left;}
.dg_pagestyle{}
.dg_pagestyle th{color:#1C568A;padding-top:6px;}
.dg_pagestyle td{text-align:right;padding-right:15px;color:#1C568A;}
.dg_pagestyle td img{padding-top:2px;margin-bottom:-4px;cursor:pointer;}
.dg_pagestyle td input{font-size:8pt;width:50px;}
.dg_pagestyle td select{font-size:8pt;}


/*form.htm css*/
#master .formitem{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;}
#master .formitem caption{border:1px solid #A8CFEB;border-bottom:none; background-color:#DFEAFB;text-align:left; font-weight:bold;color:#1C568A;height:18px;padding-left:5px;padding-top:5px;}
#master .formitem th{ background-color:#F1F6FF;height:22px;padding-left:5px;width:140px;}
#master .formitem td{ padding-left:5px;background-color:#FAFCFF;width:35%;}
#master .formitem_pagestyle{}
#master .formitem_pagestyle th{}
#master .formitem_pagestyle td{text-align:right;padding-right:15px;}

/*opewnwin.htm css*/
#dialog{padding:15px;}
#dialog #header{display:none;}
#dialog .search img#img_1{position:absolute;left:18px;top:18px;cursor:pointer;}
#dialog .formitem{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;}
#dialog .formitem caption{border:1px solid #A8CFEB;border-bottom:none; background-color:#DFEAFB;text-align:left; font-weight:bold;color:#1C568A;height:18px;padding-left:5px;padding-top:5px;}
#dialog .formitem th{ background-color:#F1F6FF;height:22px;padding-left:5px;width:140px;}
#dialog .formitem td{ padding-left:5px;background-color:#FAFCFF;width:auto;line-height:20px;color:#333;}
#dialog #footer{text-align:right;padding-right:14px;padding-top:10px;}
#dialog #footer th{width:90px;text-align:left; white-space:nowrap;padding-left:20px;}
#dialog #footer td{}
#dialog #footer .button{text-align:right;}
#dialog #footer img{margin-left:5px;margin-bottom:-4px;cursor:pointer}



/*opinionform.htm css*/
#opinionform{background-color:#EEF2F6;}
#opinionform #container{width:560px}
#opinionform #header{display:none;}
#opinionform .leftform{float:left;width:270px; vertical-align:top; border-style:ridge; border-width:2px; background-color:#e9e9e9; text-indent:7px;}
#opinionform .leftform textarea{display:block;width:95%;margin:3px;font-size:9pt;}
#opinionform .leftform select{margin-bottom:5px;margin-top:4px;font-size:9pt;width:160px;}

#opinionform .rightform{float:right;width:270px; vertical-align:top;border-style:ridge; border-width:2px; background-color:#e9e9e9}
#opinionform .rightform h2{text-indent:7px;}
#opinionform .rightform textarea{display:block;width:95%;margin:3px;font-size:9pt;}

#opinionform .button{float:left;background-image:url(../images/opinion_button.png);padding-top:5px;padding-bottom:5px; width:100%;margin-top:10px;padding-left:7px;}
#opinionform .button img{margin-bottom:-4px;cursor:pointer;margin-left:5px;}
#opinionform h2{font-weight:normal;font-size:9pt;margin:0px;background-image:url(../images/opinion_h2.png);height:20px; vertical-align:middle; vertical-align:top;padding-top:6px;}


/*approveform.htm css*/
#itemdetail{}
#itemdetail .button{ position:absolute;top:0px; background-image:url(../images/itemdetal_button.png); background-repeat:repeat-x;width:100%;}
#itemdetail .button img{padding-left:15px;cursor:pointer;margin-bottom:-13px;padding-right:3px;}
#itemdetail .button li{float:left;color:#fff;font-weight:bold;padding-bottom:13px;cursor:pointer;}

#itemdetail .button td{vertical-align:top;text-align:right;padding-right:10px;color:#fff;font-weight:bold;cursor:pointer;}
#itemdetail #header{display:none;}
#itemdetail #content{padding-left:50px;padding-right:50px;}
#itemdetail h2{height:23px;text-align:left;font-weight:bold;color:#333;text-decoration:none;font-size:9pt;margin-bottom:0px;}
#itemdetail h2 img{margin-bottom:-3px;}
#itemdetail h2 a:link,#itemdetail h2 a:visited{color:#333; text-decoration:none;}
#itemdetail h2 a:hover{color:red;text-decoration:none;}

#itemdetail .formitem2 caption{font-size:16px;font-weight:bold;margin-top:10px;margin-bottom:5px;}
#itemdetail .formitem2 th{height:22px; background-color:#F1F1F3;padding-left:3px;width:120px;}
#itemdetail .formitem2 td{padding:3px;background-color:#ffffff;}

#itemdetail .formitem{background-color: #CBCBCC;}
#itemdetail .formitem th{height:22px; background-color:#F1F1F3;padding-left:3px;width:120px;}
#itemdetail .formitem td{padding:3px;background-color:#ffffff; line-height:20px;}

#itemdetail .list{margin:0px;border:1px solid #CBCBCC;padding:5px;}
#itemdetail .list li{margin:0px;list-style-type:none;padding-bottom:5px;}
#itemdetail .list li img{margin-bottom:-3px;padding-right:3px;}
#itemdetail .list li span{color:red;padding-right:10px;}